@keyframes go-back {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(-100px);
  }
}
body {
  background-color: red;
}
div {
  background-color: white;
  width: 100px;
  height: 100px;
  animation: go-back 1s;
}
